<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AccesoDatos.Properties.Settings.newpruebasConnectionString"
            connectionString="Data Source=.;Initial Catalog=newprueba;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="AccesoDatos.Properties.Settings.newpruebaConnectionString"
            connectionString="Data Source=.;Initial Catalog=newprueba;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>